<div class="hero-unit">

	<h1>Welcome to Brisbane Wireless</h1>

	<p>
		This is my first test page for the site
		<%= link_to "Brisbane Wirless", "http://brisbanewireless.com" %>

	</p>
	<p>
			<%= link_to "Sign up now", "#", class: "btn btn-success btn-large" %>
	</p>
</div>
